<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EFDBFrist.Properties.Settings.NFineBaseConnectionString" connectionString="Data Source=DESKTOP-GPAUBOV;Initial Catalog=NFineBase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="NFineBaseEntities" connectionString="metadata=res://*/NFineEDM.csdl|res://*/NFineEDM.ssdl|res://*/NFineEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GPAUBOV;initial catalog=NFineBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NFineDataBaseContainer" connectionString="metadata=res://*/NFineDataBase.csdl|res://*/NFineDataBase.ssdl|res://*/NFineDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GPAUBOV;initial catalog=NFineBase;integrated security=True;connect timeout=60;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>